/* Pokémon Types */
/* Background Color Identity and Types */
.bg-identity {
  background-color: var(--identity);
}
.bg-bug {
  background-color: var(--type-bug);
}
.bg-dark {
  background-color: var(--type-dark);
}
.bg-dragon {
  background-color: var(--type-dragon);
}
.bg-electric {
  background-color: var(--type-electric);
}
.bg-fairy {
  background-color: var(--type-fairy);
}
.bg-fighting {
  background-color: var(--type-fighting);
}
.bg-fire {
  background-color: var(--type-fire);
}
.bg-flying {
  background-color: var(--type-flying);
}
.bg-ghost {
  background-color: var(--type-ghost);
}
.bg-normal {
  background-color: var(--type-normal);
}
.bg-grass {
  background-color: var(--type-grass);
}
.bg-ground {
  background-color: var(--type-ground);
}
.bg-ice {
  background-color: var(--type-ice);
}
.bg-poison {
  background-color: var(--type-poison);
}
.bg-psychic {
  background-color: var(--type-psychic);
}
.bg-rock {
  background-color: var(--type-rock);
}
.bg-steel {
  background-color: var(--type-steel);
}
.bg-water {
  background-color: var(--type-water);
}

/* Color Identity and Types */

.cl-identity {
  color: var(--identity);
}

.cl-bug {
  color: var(--type-bug);
}
.cl-dark {
  color: var(--type-dark);
}
.cl-dragon {
  color: var(--type-dragon);
}
.cl-electric {
  color: var(--type-electric);
}
.cl-fairy {
  color: var(--type-fairy);
}
.cl-fighting {
  color: var(--type-fighting);
}
.cl-fire {
  color: var(--type-fire);
}
.cl-flying {
  color: var(--type-flying);
}
.cl-ghost {
  color: var(--type-ghost);
}
.cl-normal {
  color: var(--type-normal);
}
.cl-grass {
  color: var(--type-grass);
}
.cl-ground {
  color: var(--type-ground);
}
.cl-ice {
  color: var(--type-ice);
}
.cl-poison {
  color: var(--type-poison);
}
.cl-psychic {
  color: var(--type-psychic);
}
.cl-rock {
  color: var(--type-rock);
}
.cl-steel {
  color: var(--type-steel);
}
.cl-water {
  color: var(--type-water);
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-by-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 99;
  background: rgba(255, 255, 255, 0.507);
  backdrop-filter: blur(4px);
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    input[type="radio"] {
      margin: 0;
      accent-color: red;
    }
  }
}

.order-by-container {
  width: 113px;
  height: 132px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--gray-white);
  background-color: var(--identity);
  border-radius: 12px;
}

.order-by-title {
  width: 105px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-by-selector {
  background-color: var(--gray-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--gray-dark);
  width: 105px;
  height: 80px;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
}

.title-bar-container {
  width: 328px;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  color: var(--gray-white);
  gap: 16px;
  margin: 8px 0;
  box-sizing: border-box;
}

.search-bar-container {
  width: 328px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.search-bar-base {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar-icon {
  position: relative;
  width: 16px;
  height: 16px;
  left: 10px;
  z-index: 1;
}
.search-bar-input {
  position: relative;
  left: -15px;
  width: 280px;
  height: 32px;
  background-color: var(--gray-white);
  border: none;
  border-radius: 16px;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
  padding-left: 30px;
  box-sizing: border-box;
  color: var(--gray-dark);
  &:focus {
    outline: none;
  }
}

.sort_by-container {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--identity);
  background-color: var(--gray-white);
  border-radius: 16px;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.sort_by-underline {
  text-decoration: underline;
}

.item-card-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(auto-fill, 108px);
  column-gap: 0px;
  row-gap: 8px;
  width: 352px;
  height: calc(100vh - 200px);
  margin-top: 12px;
  padding-top: 8px;
  background-color: var(--gray-white);
  border-radius: 8px;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
  overflow-x: scroll;
}

.item-card {
  background-color: var(--gray-white);
  width: 104px;
  height: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;

  .item-img {
    position: absolute;
    width: auto;
    height: 72px;
    object-fit: contain;
  }
  .item-id {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 64px;
    margin-top: 4px;
    margin-right: 8px;
  }

  .item-name {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 44px;
    background: var(--gray-background);
    border-radius: 7px;
  }
}

.preview-container {
  width: 360px;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.preview-pokeball-bg {
  position: absolute;
  width: 360px;
  height: 250px;
  opacity: 0.1;
  display: flex;
  top: 0;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 8px;
  img {
    width: 220px;
    height: auto;
    z-index: 0;
  }
  pointer-events: none;
}

.preview-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  width: 352px;
  height: 76px;
  color: var(--gray-white);
  box-sizing: border-box;
  padding: 0 8px;
  z-index: 99;
  cursor: pointer;
}

.preview-title-pokemon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.preview-pokemon-navigation-image {
  display: flex;
  align-items: flex-end;
  width: 352px;
  height: 144px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.preview-pokemon-image {
  position: relative;
  top: 70px;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.preview-pokemon-info {
  background-color: var(--gray-white);
  border-radius: 8px;
  width: 352px;
  min-height: 432px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 60px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.preview-pokemon-info-types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 20px;
}

.preview-pokemon-type-chip {
  height: 20px;
  border-radius: 10px;
  color: var(--gray-white);
  padding: 2px 8px;
}

.preview-pokemon-info-about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  div {
    width: 103.33px;
    height: 48px;
    .dataValue {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      color: var(--gray-dark);
      gap: 8px;
    }
    .dataCaption {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 12px;
      color: var(--gray-medium);
    }
  }
  .separator-right {
    border-right: 1px solid var(--gray-light);
  }
  .separator-left {
    border-left: 1px solid var(--gray-light);
  }
  .preview-pokemon-mesure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.preview-pokemon-info-flavortext {
  color: var(--gray-dark);
  width: 312px;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: justify;
}

.preview-pokemon-info-stats {
  width: 312px;
  display: flex;
  flex-direction: column;
}

.preview-pokemon-info-stats-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.preview-pokemon-info-stats-row-name {
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.preview-pokemon-info-stats-row-separator {
  width: 0px;
  border: 1px solid var(--gray-light);
  height: 16px;
}
.preview-pokemon-info-stats-row-bar {
  width: 233px;
  height: 4px;
  &::before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.712);
    border-radius: 2px;
  }
}

.preview-pokemon-info-stats-row-bar-fill {
  position: relative;
  top: -4px;
  height: 4px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
