:root {
  /* Identity */
  --identity: #DC0A2D;

  /* Pokémon Types */
  --type-bug: #A7B723;
  --type-dark: #75574C;
  --type-dragon: #7037FF;
  --type-electric: #F9CF30;
  --type-fairy: #E69EAC;
  --type-fighting: #C12239;
  --type-fire: #F57D31;
  --type-flying: #A891EC;
  --type-ghost: #70559B;
  --type-normal: #AAA67F;
  --type-grass: #74CB48;
  --type-ground: #DEC16B;
  --type-ice: #9AD6DF;
  --type-poison: #A43E9E;
  --type-psychic: #FB5584;
  --type-rock: #B69E31;
  --type-steel: #B7B9D0;
  --type-water: #6493EB;

  /* Grayscale */
  --gray-dark: #212121;
  --gray-medium: #666666;
  --gray-light: #E0E0E0;
  --gray-background: #EFEFEF;
  --gray-white: #FFFFFF;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
